.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.playing {
  animation: flash 0.1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
